@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

$dark: #000000;
$light: #ffffff;
$accent-color: #263238;
$main-color: #8f95a5;

$main-font: "Poppins", sans-serif;
